<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!-- namespace表示命名空间，值必须为接口的名词(包括包名) -->
	<!-- 实现类没有，mybatis框架会生成接口的实现类 -->
	<mapper namespace="top.greenyi.green.repository.DeptRepository">
		<resultMap id="BaseResultMap" type="top.greenyi.green.bean.Dept">
			<result column="id" jdbcType="INTEGER" property="id" />
			<result column="deptName" jdbcType="VARCHAR" property="deptName" />
			<result column="deptLoc" jdbcType="VARCHAR" property="deptLoc" />
		</resultMap>
		<!-- 查询所有 -->
		<!-- Dept getAll() -->
		<select id="getAll" resultType="top.greenyi.green.bean.Dept">
			select id,dept_name deptName,dept_loc deptLoc from dept
		</select>


		<!-- 添加部门信息 -->
		<!-- void addDept(Dept dept) -->
		<insert id="insert" parameterType="top.greenyi.green.bean.Dept">
			insert into dept (
				create_time,dept_name,dept_loc
			) values(
				#{createTime},#{deptName},#{deptLoc}
			)
		</insert>
		
		<!-- 根据id删除部门 -->
		<!-- void removeDept(Integer id) -->
		<delete id="delete">
			delete from dept
			where 
				id=#{id}
		</delete>

		<!--根据id修改部门-->
		<!--Long updateDept(Dept dept);-->
		<update id="update" parameterType="top.greenyi.green.bean.Dept">
			update dept
			set
				update_time=#{updateTime},
				dept_name=#{deptName},
				dept_loc=#{deptLoc}
			where
				id=#{id}
		</update>

		<!--根据id获取部门-->
		<!--Dept get(Long id);-->
		<select id="get" resultType="top.greenyi.green.bean.Dept">
			select
				id,
				dept_name deptName,
				dept_loc deptLoc
			from
				dept
			where
				id=#{id}
		</select>
	</mapper>
	
	
	
	
	
	
	
	
	