<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!-- namespace表示命名空间，值必须为接口的名词(包括包名) -->
	<!-- 实现类没有，mybatis框架会生成接口的实现类 -->
	<mapper namespace="top.greenyi.green.mapper.DeptMapper">
		<resultMap id="BaseResultMap" type="top.greenyi.green.bean.Dept">
			<result column="id" jdbcType="INTEGER" property="id" />
			<result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
			<result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
			<result column="deptName" jdbcType="VARCHAR" property="deptName" />
			<result column="deptLoc" jdbcType="VARCHAR" property="deptLoc" />
		</resultMap>
		<!-- 查询所有 -->
		<!-- Dept getAll() -->
		<select id="getAll" resultType="top.greenyi.green.bean.Dept">
			SELECT
				id,
				create_time createTime,
				update_time updateTime,
				dept_name deptName,
				dept_loc deptLoc
			FROM
				dept
		</select>
	</mapper>
	
	
	
	
	
	
	
	
	